.Header-container{
    background-color: darkslategray;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}

.Header-top{
    display: flex;
    justify-content:space-between;
    flex:1;
}

.Random-information>H2{
    display: flex;
    justify-content: center;
}

.images-container{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.Header-content{
    display: flex;
    justify-content: space-between;
}

h1{
    width: 300px;
}

.content-text{
    width: 500px;
    font-size: large;
}

img{
    height: auto;
    width: 450px;
    border-radius: 20px;
}


.Quote-container{
    background-color: lightgray;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#quote{
    width: 600px;
}

.Promotional-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Promotion-box{
    background-color: darkslategray;
    color: white;
    width: 800px;
    height: auto;
    margin: 50px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

button {
    background-color: darkslategray;
    border-color: white;
    color: white;
    width: 100px;
    border-radius: 8px;
}

.Footer-container{
    background-color: darkslategray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.image-text{
    display: flex;
    justify-content: center;
}